*{
    margin: 0px;
    padding: 3px;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
    color: #F8EDE3;
}

body{
    background: #FEAC5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: 'Montserrat', sans-serif;
   //** font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;*/
}
.contenedor{
    display: flex;
    flex-flow: column nowrap;
    
    }

    .header{
        background: url(../imagenes/header.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
                   
    }
        .menu{        
            background: rgba(0, 0, 0, .1);
            display: flex;
            flex-flow: row nowrap;
            height: 100px;
            align-items: center;         

        }
            .foto{
                
                flex:1 1 auto;
                
            }
            .texto_principal{
                
                flex:5 1 auto;              
            }
                h1{
                    display: flex;
                    justify-content:center;
                    color:aliceblue;
                }

        .social{
            display: flex;
            flex: auto;
            flex-direction: row;
        }
            .social a{
                    color: #FEFCF3;    
                    font-size: 15px;
                    line-height : 5px;    
                }
                .social a:hover{
                    color: #cbdf70;
                }
            

    .section{
        background: #F8EDE3;
        display: flex;
        flex-direction: column;       
    }
        .articulos{
            display: flex;
            background: #f3eded;
            flex: 1 1 100%;
            flex-direction: row;
            
            
        }
            .article{
                
                background: #ECE9E6;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                display: flex;
                flex: 1 1 auto;
                flex-direction: column;
                margin:10px;
                padding:10px;
                border-radius: 3px;
            }
                .titulo{
                    color: #8213c2;
                }
                .separador{
                    height: 5px;
                    width: 90%;
                    background: #03001e;  /* fallback for old browsers */
                    background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    
                }
                .contenedor_articulo{
                    padding: 10px;
                }
                
                h2{
                    color: azure;
                    font-size: 20pxpx;
                    
                }
    .aside{
        display: flex;
        flex-direction: column;
        background:#F8EDE3;
        display:flex;
        width: 100%;
        
        
    }
        .formulario{
            background: #FEAC5E;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

            padding: 10px;
            margin: 10px;
            
        }
            .form{
                background-color: rgba(0, 0, 0, .6);
                margin:10x;
                padding: 10px;
                border-radius: 3px;              
              
            }
                .encabezado{

                }
                    h3{
                        color:aliceblue;                
                    }
                .etiqueta{
                    display: block;
                    color: aliceblue;
                    font-size: 15px;
                }
            
                .cajon{
                    background: rgba(0, 0, 0, .7);
                    border:none;
                    border-bottom: 2px solid #8948be;
                    width: 100%;
                    border-radius: 10px;
                    font-size: 14px;
                    color: aliceblue;
                    padding:10px;
                    

                }
                .boton{
                    width: 100%;
                    justify-items: center;
                    background-color:#8948be;
                    color:aliceblue;
                    outline: none;
                    font-size: 15px;
                    border: none;
                    padding: 15px 0;
                    cursor: pointer;
                    transition: all .5s ease;

                }
                .boton:hover{
                    background-color: #aa85c9;
                }
    .footer{
        background: #F8EDE3;
    }
        .diseno{
            display: flex;
            background: #2BC0E4;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #EAECC6, hsl(192, 47%, 73%));  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #EAECC6, hsl(192, 47%, 73%)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

            flex-wrap: row wrap;
        }
            h4{
                margin: 5px;
                
            }
            p{
                margin: 5px;
            }
            .correo_direccion{
                font-family: 'Inconsolata', monospace;
                color:#661b62;
                margin 5px;
               
                
            }
        .milogo{
            width: 40px;
            height: auto;

        }


.foto_perfil {
    display: flex;
    justify-content: center;
    position:relative;
    padding: 2px;
    margin-top: 4px;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(253, 253, 253);    
    background: none;
    box-shadow: 2px;
    width: 80px;
    height: auto;  
   
}
    .foto_perfil:hover {
        border-width: 5px;
        border-style:groove;

    }
#exp{
    flex:2 1 100% ;
    flex-direction: column;
    width: 100%;
}


/** Media Query para responsivo a menor de 800px **/
@media all and (max-width: 1200px){
    .section{
        flex-direction: column;
    }
    .menu{
        display: flex;        
       
    }
        .foto{
            width: 100%;
        }
        .texto_principal{
        
            width: 100%;
        }
            .h1{
                font-size: 25px;
            }
      
}

@media all and (max-width: 800px){
    .articulos{
        flex-direction: column;
    }
    h1{
        font-size: 20px;
    }
 
  

}

@media all and (max-width: 500px){
    .texto_principal{
        display: flex;
    }
        h1{
            font-size: 20px;
        }
    i{
        font-size: 15px;
    }
}
